            <form id="topic_form" method="post">
                <select id="topic_select" class="form-control custom-select custom-select-lg" size="5">
                    {% for id, title in topics %}
                    <option name="{{ id }}" value="{{ title }}">{{ id }} {{ " - " }} {{ title }}</option>
                    {% endfor %}
                </select>
                {{ form.topic_id(id="query", style="visibility: hidden") }}
            </form>
