{% extends "_base.html" %}
{% block body %}
    <body>
        <div class="jumbotron" id="jumbotronBG">
            <div id="landingContent" class="container text-center">
                <h1 style="color:#e62b1e">TED SEARCH</h1>
                <form id="queryForm" action="" method="get">
                    <div class="input-group">
                        {{ form.query(id="query", class="form-control border", placeholder="Search...")}}
                        <input class="btn btn-dark border border-left-0 btn-outline-dark rounded-0 " id="searchBtn" name="submit" type="submit" value="fire">
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}
