{% extends "_base.html" %}
{% block body %}
        <nav class="navbar navbar-expand-md navbar-light bg-light" id="mynav">
            <form class="mx-2 my-auto d-inline w-100" id="queryForm" action="" method="get">
                <div class="input-group mb-3" style="padding-top: 1vh">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: white;"><a href="/" class="navbar-brand" style="color:#e62b1e">TED SEARCH</a></span>
                    </div>
                    {{ form.query(id="query", class="form-control border", placeholder="Search...")}}
                    <div class="input-group-append">
                        <input class="btn btn-dark border border-left-0 btn-outline-dark rounded-0 " id="searchBtn" name="submit" type="submit" value="fire">
                    </div>
                </div>
            </form>
        </nav>

        {% include "_results.html" %}
        {% include "_overlay.html" %}
{% endblock %}

{% block script %}
        $(document).ready(function() {
            {% for hit in hits %}
            $("#{{ hit.tid }}").click(function() { open_overlay({{ hit.title|tojson }}, {{ hit.raw_script|tojson }}, "{{ hit.embedding }}") })
            {% endfor %}

            $('.overlay').on('hidden.bs.modal', remove_content)
        })
{% endblock %}
